<svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 128 26"
    role="img"
    aria-labelledby="titleId"
    class="ClientsSection-module--dropbox--e954c"
    ><title id="titleId">Dropbox</title><g clip-path="url(#clip0_5572_33296)"
        ><path
            fill="#0061FF"
            d="M15.2 5 7.8 9.5l7.4 4.7L7.8 19 .4 14.3l7.4-4.7L.4 4.9 7.8.2 15.2 5ZM7.8 20.4l7.3-4.7 7.4 4.7-7.4 4.7-7.3-4.7Zm7.4-6.2 7.3-4.7-7.3-4.7L22.5.2 29.9 5l-7.4 4.7 7.4 4.7-7.4 4.7-7.3-4.7Z"
        ></path><path
            fill="#000"
            d="M35.6 5h6c3.8 0 7 2.1 7 7.1v1c0 5.1-3 7.4-6.9 7.4h-6V5ZM39 7.6v10h2.5c2.2 0 3.6-1.4 3.6-4.6v-.8c0-3.1-1.5-4.6-3.7-4.6H39Zm11.3.2H53l.4 3c.5-2 1.8-3.1 4.1-3.1h.9V11H57c-2.7 0-3.4 1-3.4 3.6v5.8h-3.3V8Zm8.7 6.6V14c0-4.2 2.7-6.5 6.4-6.5 3.8 0 6.4 2.3 6.4 6.5v.4c0 4.1-2.6 6.4-6.4 6.4-4 0-6.4-2.3-6.4-6.4Zm9.4 0V14c0-2.3-1.1-3.7-3-3.7s-3 1.3-3 3.7v.3c0 2.3 1.1 3.6 3 3.6s3-1.3 3-3.6Zm5.1-6.6h2.8l.3 2.4c.6-1.6 2-2.7 4.1-2.7 3.3 0 5.4 2.3 5.4 6.6v.3c0 4.2-2.4 6.4-5.4 6.4-2 0-3.3-1-4-2.4V25h-3.2V8Zm9.2 6.5v-.2c0-2.6-1.3-3.8-3-3.8-1.8 0-3 1.4-3 3.8v.2c0 2.2 1.1 3.6 3 3.6s3-1.2 3-3.6Zm8.2 3.8-.2 2.3h-2.9V3.7H91V10c.8-1.6 2.2-2.5 4.2-2.5 3 0 5.2 2.1 5.2 6.3v.4c0 4.2-2.1 6.6-5.3 6.6-2.1 0-3.5-1-4.2-2.7Zm6.1-4V14c0-2.3-1.2-3.6-3-3.6s-3 1.4-3 3.6v.3c0 2.3 1.2 3.7 3 3.7 2 0 3-1.2 3-3.7Zm4.8.3V14c0-4.2 2.7-6.5 6.4-6.5 3.8 0 6.4 2.3 6.4 6.5v.4c0 4.1-2.6 6.4-6.4 6.4-4 0-6.4-2.3-6.4-6.4Zm9.5 0V14c0-2.3-1.2-3.7-3.1-3.7-1.8 0-3 1.3-3 3.7v.3c0 2.3 1.1 3.6 3 3.6s3-1.3 3-3.6Zm7.6-.5-4.4-6.1h3.8l2.5 3.8 2.6-3.8h3.8l-4.5 6 4.7 6.6h-3.7l-2.9-4.2-2.8 4.2h-4l5-6.5Z"
        ></path></g
    ><defs
        ><clipPath id="clip0_5572_33296"
            ><path fill="#fff" d="M.4.2h127v25H.4z"></path></clipPath
        ></defs
    ></svg
>
<svg
    width="61"
    height="17"
    viewBox="0 0 61 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    role="img"
    aria-labelledby="titleId"
    class="ClientsSection-module--ramp--4b8bf"
    ><title id="titleId">Ramp</title><g clip-path="url(#clip0_10521_2418)"
        ><mask
            id="mask0_10521_2418"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="61"
            height="17"
            style="mask-type: luminance;"
            ><path
                d="M60.5234 0.0546875H0.523438V16.0547H60.5234V0.0546875Z"
                fill="white"></path></mask
        ><g mask="url(#mask0_10521_2418)"
            ><path
                d="M4.67505 5.46295C3.24403 5.46295 2.54155 6.72408 2.54155 8.40807V12.6281H0.523438V3.72278H2.5062V6.03317H2.54062C2.96397 4.61267 3.80788 3.46484 5.10956 3.46484C6.02511 3.46484 6.41124 3.7845 6.41124 3.7845L5.50034 5.61863C5.50034 5.61863 5.21005 5.46295 4.67505 5.46295ZM29.072 6.68539V12.6272H27.106V7.40854C27.106 5.91065 26.6362 5.11749 25.4358 5.11749C24.1928 5.11749 23.5918 6.12069 23.5918 8.04509V12.6262H21.6434V7.40854C21.6434 5.96869 21.1791 5.11749 19.991 5.11749C18.6344 5.11749 18.1124 6.30585 18.1124 8.04509V12.6262H16.1297V3.72278H18.1124V5.73931H18.1301C18.439 4.34368 19.282 3.48235 20.7046 3.48235C22.1151 3.48235 23.0344 4.2405 23.3834 5.58455C23.7155 4.29116 24.5994 3.48235 25.9578 3.48235C27.8531 3.48235 29.072 4.67071 29.072 6.68539ZM10.3777 3.46484C8.55312 3.46484 7.35935 4.32156 6.81505 5.86828L8.49449 6.47904C8.80056 5.54585 9.43888 5.01432 10.413 5.01432C11.5091 5.01432 12.153 5.49703 12.153 6.23768C12.153 6.99492 11.6403 7.15336 10.4828 7.34037C9.19512 7.54764 6.13304 7.61581 6.13304 10.1989C6.13304 11.7124 7.39843 12.851 9.29928 12.851C10.7285 12.851 11.7017 12.267 12.152 11.18H12.1697V12.6272H14.1357V7.1506C14.1348 4.75453 12.929 3.46484 10.3777 3.46484ZM12.2042 8.43567C12.2042 10.3029 11.2802 11.5024 9.8036 11.5024C8.75968 11.5024 8.13348 10.9165 8.13348 10.0717C8.13348 9.27951 8.77736 8.72959 10.012 8.50295C11.2755 8.27079 11.912 7.98429 12.2042 7.29708V8.43567ZM36.0652 3.48235C34.5616 3.48235 33.5678 4.30867 33.1426 5.55046V3.72278H31.0548V16.055H33.125V10.8005H33.1426C33.6032 12.1454 34.5625 12.8851 36.0652 12.8851C38.448 12.8851 40.1535 10.9221 40.1535 8.14831C40.1526 5.39385 38.448 3.48235 36.0652 3.48235ZM35.5516 11.2325C33.901 11.2325 32.9854 10.0349 32.9854 8.17495C32.9854 6.31506 34.0098 5.11749 35.5516 5.11749C37.0924 5.11749 38.1177 6.3731 38.1177 8.17495C38.1177 9.97783 37.0933 11.2325 35.5516 11.2325Z"
                fill="#3d3d3d"></path><path
                d="M60.6639 12.5864V12.642L52.5837 12.6448V12.5864C53.7489 11.9284 54.5532 11.2582 55.2768 10.5578H58.5947L60.6639 12.5864ZM58.6618 2.06362L56.6137 0.0546875H56.5542C56.5542 0.0546875 56.5888 3.7986 53.15 7.20361C49.7852 10.5361 45.8281 10.5436 45.8281 10.5436V10.602L47.9146 12.6458C47.9146 12.6458 51.814 12.6844 55.2586 9.30573C58.6906 5.93838 58.6618 2.06362 58.6618 2.06362Z"
                fill="#3d3d3d"></path></g
        ></g
    ><defs
        ><clipPath id="clip0_10521_2418"
            ><rect
                width="60"
                height="16"
                fill="white"
                transform="translate(0.523438 0.0546875)"></rect></clipPath
        ></defs
    ></svg
><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="12 5 144 30"
    role="img"
    aria-labelledby="titleId"
    class="ClientsSection-module--westernUnion--e514a"
    ><title id="titleId">Western Union</title><path
        fill="#FD0"
        d="M21 25.8c1.4 2.6 3.8 2.6 5.2 0l.9-1.4-7.4-12.7h-7L21 25.8ZM36.4 20.4c-.6 1-1.8 1-2.4 0l-5-8.7h-7l8.2 14.1c1.5 2.6 3.9 2.6 5.3 0l5.5-9.4-2.7-4.7h-7l5 8.7Z"
    ></path><path
        fill="#000"
        d="M48.4 25.9h2.4c1.5-5.5 2.1-7.8 2.3-9.3l2.3 9.2h2.4l3.4-12.3H59c-1.5 5.7-2 8-2.3 9.4l-2.3-9.4H52l-2.3 9.6-2.3-9.6H45l3.3 12.3ZM65 26c1.7 0 3.4-1 4.1-2.4l-1.6-.8h-.1c-.2.5-1 1.4-2.4 1.4s-2.5-.9-2.6-2.1h7V22c0-1.8-.4-3.2-1.4-4.2-.8-.8-1.9-1.2-3.2-1.2-1.3 0-2.5.4-3.3 1.3-.8.9-1.3 2.1-1.3 3.4 0 2.8 2 4.8 4.7 4.8Zm-.2-7.6c1.3 0 2.3.8 2.4 2h-4.8c.1-1.2 1.1-2 2.4-2ZM73.9 26c2.3 0 3.7-1 3.7-2.7 0-2.1-1.8-2.6-3.3-3-1-.2-2-.5-2-1.1 0-.6.6-1 1.4-1 .9 0 1.5.5 1.6 1.3v.3l2-.3c0-1.7-1.6-3-3.6-3s-3.5 1.2-3.5 2.8c0 2 1.8 2.4 3.3 2.8 1 .3 2 .5 2 1.2 0 .6-.6 1-1.6 1s-1.9-.5-2-1.4v-.1l-2 .3c.1 2 2.2 3 4 3ZM79.3 24.2c0 1 .6 1.9 1.7 1.9 1.3 0 1.7-.2 1.7-.2v-1.7h-.9c-.3 0-.5-.2-.5-.5v-5.2h1.4v-1.8h-1.4v-2.6l-2 .6v2h-1v1.8h1v5.7ZM95.2 17.9v-1.2h-1.8V26h2.2v-5.6c0-.6.2-1 .5-1.3.5-.4 1.2-.5 2.1-.4h.1v-1.9c-1.3-.1-2.5.2-3 1.2ZM104.2 16.6c-1.3 0-2.5.5-3.1 1.5v-1.4h-1.9V26h2.2v-5c0-1.5.8-2.4 2.2-2.4 1 0 2 .4 2 2.3v5h2.2v-5.3c0-2.9-1.9-4-3.6-4ZM119.5 20.7c0 2.2-1 3.3-2.8 3.3-1.9 0-2.8-1.1-2.8-3.3v-7.2h-2.2v7.2c0 3.4 1.8 5.4 5 5.4 3 0 5-2 5-5.4v-7.2h-2.2v7.2ZM127.9 16.6c-1.3 0-2.5.5-3.1 1.5v-1.4h-1.9V26h2.2v-5c0-1.5.8-2.4 2.2-2.4 1 0 2 .4 2 2.3v5h2.2v-5.3c0-2.9-1.8-4-3.6-4ZM135 16.7H133V26h2.1v-9.2ZM134 13.4c-.7 0-1.3.5-1.3 1.2s.6 1.2 1.3 1.2c.7 0 1.2-.5 1.2-1.2s-.5-1.2-1.2-1.2ZM140.9 16.6c-1.4 0-2.6.4-3.5 1.3-.9.9-1.4 2-1.4 3.4 0 2.8 2 4.8 4.9 4.8 2.7 0 4.8-2 4.8-4.8 0-1.3-.5-2.5-1.4-3.4a4.9 4.9 0 0 0-3.4-1.3Zm0 7.5a2.7 2.7 0 0 1-2.8-2.8c0-1.6 1.2-2.8 2.8-2.8 1.5 0 2.7 1.2 2.7 2.8 0 1.6-1.2 2.8-2.7 2.8ZM151.7 16.6c-1.3 0-2.5.5-3.2 1.5v-1.4h-1.8V26h2.2v-5c0-1.5.8-2.4 2.2-2.4.9 0 2 .4 2 2.3v5h2.2v-5.3c0-2.9-1.9-4-3.6-4ZM87.9 16.6c-1.3 0-2.5.4-3.3 1.3-.9 1-1.3 2.1-1.3 3.4 0 2.8 2 4.8 4.7 4.8 1.8 0 3.5-1 4.2-2.5l-1.7-.8c-.2.5-1 1.4-2.5 1.4-1.4 0-2.4-.9-2.6-2.1h7V22c.1-1.8-.3-3.2-1.3-4.2-.8-.8-2-1.2-3.2-1.2Zm-2.5 3.8c.2-1.2 1.2-2 2.5-2s2.3.8 2.4 2h-4.9Z"
    ></path></svg
><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 157 21"
    role="img"
    aria-labelledby="titleId"
    class="ClientsSection-module--checkout--e3dc4"
    ><title id="titleId">Checkout</title><g
        fill="#0C1142"
        clip-path="url(#clip0_5572_33700)"
        ><path
            d="M116 16.6a1.6 1.6 0 1 0 0-3.2 1.6 1.6 0 0 0 0 3.2ZM27 16.2a6 6 0 0 1-3.3-5.4c0-.8.2-1.6.4-2.4a5 5 0 0 1 1.1-1.8 5 5 0 0 1 4-1.7c.7 0 1.3 0 2 .3.5.2 1 .4 1.4.8.5.3.8.8 1 1.3.3.5.5 1 .6 1.6h-2.9c0-.5-.3-.9-.7-1.2a2 2 0 0 0-1.3-.5 2.3 2.3 0 0 0-2 1c-.5.7-.7 1.6-.7 2.5 0 .9.2 1.8.7 2.6a2.2 2.2 0 0 0 2 1c.5 0 1-.2 1.4-.5.4-.4.7-1 .8-1.5h2.8a4.6 4.6 0 0 1-3 4c-.6.2-1.3.3-2 .3s-1.5-.1-2.2-.4ZM38.9 6.6c.4-.6.8-1 1.4-1.4.5-.3 1.2-.4 1.8-.4A3.7 3.7 0 0 1 45 6a4.7 4.7 0 0 1 1 3v7.3h-3V9.4c.1-.5 0-1-.4-1.5a1.8 1.8 0 0 0-1.4-.6 2 2 0 0 0-1.6.8c-.5.5-.7 1.1-.7 1.8v6.4H36V.7h3v5.9ZM50.7 16.2a5 5 0 0 1-2.9-3.2 7.3 7.3 0 0 1 0-4.6A7 7 0 0 1 49 6.5a5 5 0 0 1 4-1.7 5 5 0 0 1 4 1.9c.4.6.8 1.3 1 2 .3 1 .4 1.9.4 2.8h-8c.1.8.4 1.5.9 2a2.5 2.5 0 0 0 2 .8c.4 0 .9 0 1.3-.3.3-.3.6-.6.7-1h3c-.2.5-.3 1-.6 1.4l-1 1.2c-.5.3-1 .6-1.5.7a6.6 6.6 0 0 1-4.4-.2Zm.4-8.5c-.4.5-.7 1.1-.8 1.8h5c-.1-.7-.4-1.3-.8-1.8a2 2 0 0 0-1.6-.6c-.7 0-1.3.2-1.8.6ZM62.6 16.2a6 6 0 0 1-3.3-5.4c0-.8.2-1.6.4-2.4a5 5 0 0 1 1.1-1.8 5 5 0 0 1 4-1.7c.6 0 1.3 0 1.9.3.5.2 1 .4 1.5.8.4.3.8.8 1 1.3.3.5.5 1 .5 1.6H67c0-.5-.3-.9-.7-1.2a2 2 0 0 0-1.3-.5 2.3 2.3 0 0 0-2 1c-.5.7-.7 1.6-.7 2.5 0 .9.2 1.8.7 2.6a2.2 2.2 0 0 0 2 1c.5 0 1-.2 1.4-.5.4-.4.7-1 .7-1.5H70a4.6 4.6 0 0 1-3 4 6.1 6.1 0 0 1-4.3-.1ZM74.4 12.5v3.8h-3V.7h3v8.6l3.9-4.2h3.5l-4.1 4.3 4.5 6.9h-3.5l-3.1-5.1-1.2 1.3Z"
        ></path><path
            d="M85.5 16.2a5.5 5.5 0 0 1-3-3.1 6.8 6.8 0 0 1 0-4.7c.3-.7.7-1.3 1.2-1.8.5-.6 1.1-1 1.8-1.3 1.5-.6 3.1-.6 4.6 0a5.5 5.5 0 0 1 3 3.1c.6 1.5.6 3.2 0 4.7-.3.6-.7 1.3-1.2 1.8-.5.6-1 1-1.8 1.3-1.5.6-3.1.6-4.6 0Zm4.4-2.9a5.2 5.2 0 0 0 0-5.2 2.5 2.5 0 0 0-2-1 2.4 2.4 0 0 0-2.2 1 5.2 5.2 0 0 0 0 5.2 2.7 2.7 0 0 0 4.2 0ZM102 15a5 5 0 0 1-1.3 1.2c-.5.3-1.2.4-1.8.4a3.8 3.8 0 0 1-2.9-1.1c-.7-.8-1-1.9-1-3V5.2h3v7c-.1.5 0 1 .4 1.5a1.8 1.8 0 0 0 1.3.5 2 2 0 0 0 1.7-.7c.4-.5.6-1.1.6-1.8V5.1h3v11.2H102V15ZM107.7 5.1V1.6h2.9v3.5h1.8v2h-1.8V13a1 1 0 0 0 .3.9l.8.2h.8v2.2h-2.8l-1-.5-.7-.8a3 3 0 0 1-.3-1.3V7h-1.5V5h1.5ZM121.7 16.1c-.6-.3-1.2-.7-1.6-1.2a5 5 0 0 1-1-1.9 8.5 8.5 0 0 1 0-4.7l1-1.9a4.6 4.6 0 0 1 3.8-1.7c1 0 2.1.3 3 1 .8.7 1.3 1.6 1.4 2.7H127a3 3 0 0 0-1-2c-.6-.4-1.4-.6-2.1-.5-.6 0-1.2 0-1.7.3a3 3 0 0 0-1.1 1l-.7 1.6a7.9 7.9 0 0 0 0 3.7c.2.6.5 1 .8 1.5.3.5.6.8 1.1 1a3.2 3.2 0 0 0 3.9-.5c.6-.5 1-1.2 1-2h1.3c0 1-.6 2.2-1.4 3a4.4 4.4 0 0 1-3.2 1.1c-.7 0-1.5-.2-2.2-.5ZM132.6 16.1c-.7-.3-1.2-.7-1.7-1.2a7.1 7.1 0 0 1-1.4-4.2c0-.8.2-1.6.4-2.4.2-.7.6-1.3 1-1.9.5-.5 1-1 1.7-1.2a5.3 5.3 0 0 1 4.3 0c.6.3 1.1.7 1.6 1.2.4.6.8 1.2 1 1.9.2.8.4 1.6.3 2.4 0 .8 0 1.5-.3 2.3-.2.7-.6 1.3-1 1.9-.4.5-1 1-1.6 1.2a5.3 5.3 0 0 1-4.3 0Zm3.7-1c.5-.3 1-.6 1.2-1 .3-.5.6-1 .7-1.6.3-1.2.3-2.5 0-3.7l-.7-1.5c-.3-.5-.7-.8-1.2-1-.5-.3-1-.4-1.6-.4a3.4 3.4 0 0 0-2.8 1.4c-.3.4-.6 1-.7 1.5a7.2 7.2 0 0 0 0 3.7c.1.6.4 1 .7 1.6.3.4.7.7 1.2 1a3.7 3.7 0 0 0 3.2 0ZM143 5v1.7c.4-.6.9-1 1.4-1.4.6-.4 1.4-.6 2-.6.7 0 1.3.2 1.9.5.5.4 1 1 1.1 1.6a3.9 3.9 0 0 1 4.8-1.8c.5.1.9.3 1.2.6.3.3.5.7.6 1.1l.3 1.5v8H155V8.5a2.4 2.4 0 0 0-.7-1.9c-.4-.4-1-.6-1.6-.6l-1.2.3-.9.6a3.2 3.2 0 0 0-1 2.3v7.2h-1.3v-8a2.4 2.4 0 0 0-.6-1.8A2 2 0 0 0 146 6c-.4 0-.8.1-1.1.3a3 3 0 0 0-1.7 1.7c-.2.4-.3.8-.3 1.3v7h-1.4V5h1.4ZM12.8 10.7 18 1.5a.6.6 0 0 0 0-.7.7.7 0 0 0-.5-.3H6.8a.7.7 0 0 0-.6.3L.7 10.4a.6.6 0 0 0 0 .6l5.5 9.6a.6.6 0 0 0 .6.3h10.7a.7.7 0 0 0 .5-.3.6.6 0 0 0 0-.7l-5.2-9.2Zm-.7-1.2L7.8 1.8h8.7L12 9.5Zm-5.4-7 4.7 8.2L6.7 19l-4.8-8.3 4.8-8.3Zm1.1 17.1 4.3-7.7 4.3 7.7H7.8Z"
        ></path></g
    ><defs
        ><clipPath id="clip0_5572_33700"
            ><path fill="#fff" d="M.6.6h155.7v20.3H.6z"></path></clipPath
        ></defs
    ></svg
><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="-0 0 111 30"
    role="img"
    aria-labelledby="titleId"
    class="ClientsSection-module--usBank--a35db"
    ><title id="titleId">US Bank</title><g clip-path="url(#clip0_5572_33293)"
        ><path
            fill="#0941C5"
            d="M36.6.4v21.4l-18 6.1L.3 21.8V.3l36.2.1Zm-28 5.7H2.9v10.3c0 3.4 2.5 5.1 5.1 5.1 2.3 0 3.8-.8 4.9-2.2v2h5.5V6h-5.6v8c0 2.3-1.4 2.8-2.3 2.8-1.7 0-1.8-1.1-1.8-3l-.1-7.8Zm18.6-.4c-3 0-7.1 1-7.1 4.7 0 2.6 1.7 4 6.1 4.7 2.7.5 3.2.8 3.2 1.6 0 .9-1.2 1.2-2 1.2-.6 0-1.3-.2-1.5-.4-.4-.4-.7-.8-.7-1.3h-5.5c.1 3.9 4 5.2 7.5 5.2 3.6 0 7.6-1.2 7.6-5.2 0-2.5-1.7-3.6-3.6-4.2-2-.7-4-.8-5-1.2-.2-.1-.6-.4-.6-.8 0-1 .9-1.2 1.7-1.2.5 0 1 .2 1.3.4.3.3.5.7.7 1.2h5.2c-.3-3.8-4.2-4.7-7.3-4.7Zm19.5 4.2c-2.1 0-2.5 2-2.5 3.6 0 1.9.5 3.8 2.5 3.8s2.5-2 2.5-3.8c0-1.8-.4-3.6-2.5-3.6Zm-8-9.5h5.7v7.4c1-1.3 2.4-2 4.1-2 5 0 6.4 4.3 6.4 7.9 0 3.8-2 8-6.3 8-2.7 0-3.6-1-4.4-2v1.7h-5.5V.4Zm26.7 14-2.2.7c-1.3.3-2 .7-2 1.6 0 .6.8 1.4 1.8 1.4 1.4 0 2.4-.8 2.4-2.3v-1.5Zm5.5 3.3c0 1.2 0 2.4.7 3.4h-6l-.2-1.4c-1.2 1.4-3 1.8-4.8 1.8-3 0-5.3-1.4-5.3-4.6 0-4.7 5.5-4.5 8.5-5 .8-.2 1.6-.5 1.6-1.4 0-1-1-1.4-1.8-1.4-1.7 0-2.1.9-2.1 1.6H56c.1-4.2 4.2-5 7.7-5 7.2 0 7.1 3 7.1 5.9v6.1Zm2-11.6h5.6v2c1-1.6 2.6-2.3 4.8-2.3 2.8 0 5.1 1.7 5.1 5.1v10.4H83v-7.9c0-1.7-.2-3-1.8-3-1 0-2.2.5-2.2 2.9v8H73L73 6ZM90.8.4h5.7v10l3.7-4.3h6.4l-5.4 5.6 6.2 9.3h-7l-3-5.4-1 1V21h-5.8V.4h.2Zm18 20h.2V20h.5l.1.2v.1h.3V20l-.1-.3-.3-.1.3-.2v-.2c0-.2 0-.3-.2-.4h-.9v1.7Zm.6-.7h-.6v-.5h.6l.1.2-.1.3Zm.8-.8a1.2 1.2 0 0 0-1-.4c-.4 0-.6.1-.9.4-.2.3-.4.5-.4 1 0 .3.2.6.4.8.3.3.5.4 1 .4.3 0 .6-.1.9-.4.2-.2.3-.5.3-.9s0-.6-.3-.9Zm-.2.1c.3.3.4.6.3.8 0 .3-.1.5-.3.8-.2.3-.5.3-.8.3l-.8-.3c-.2-.3-.3-.5-.2-.8l.3-.8.7-.4c.3 0 .6.2.8.4Z"
        ></path><path
            fill="#DE162B"
            d="M36.6.4v21.4l-18 6.1L.3 21.8V.3l36.2.1Zm-28 5.7H2.9v10.3c0 3.4 2.5 5.1 5.1 5.1 2.3 0 3.8-.8 4.9-2.2v2h5.5V6h-5.6v8c0 2.3-1.4 2.8-2.3 2.8-1.7 0-1.8-1.1-1.8-3l-.1-7.8Zm18.6-.4c-3 0-7.1 1-7.1 4.7 0 2.6 1.7 4 6.1 4.7 2.7.5 3.2.8 3.2 1.6 0 .9-1.2 1.2-2 1.2-.6 0-1.3-.2-1.5-.4-.4-.4-.7-.8-.7-1.3h-5.5c.1 3.9 4 5.2 7.5 5.2 3.6 0 7.6-1.2 7.6-5.2 0-2.5-1.7-3.6-3.6-4.2-2-.7-4-.8-5-1.2-.2-.1-.6-.4-.6-.8 0-1 .9-1.2 1.7-1.2.5 0 1 .2 1.3.4.3.3.5.7.7 1.2h5.2c-.3-3.8-4.2-4.7-7.3-4.7Z"
        ></path></g
    ><defs
        ><clipPath id="clip0_5572_33293"
            ><path fill="#fff" d="M.4.3h110v28.8H.4z"></path></clipPath
        ></defs
    ></svg
><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 131 34"
    role="img"
    aria-labelledby="titleId"
    class="ClientsSection-module--trustpilot--5f100"
    ><title>Trustpilot</title><g clip-path="url(#clip0_5572_33350)"
        ><path
            fill="#191919"
            d="M35 11.1h13.2v2.5H43v13.8h-2.9V13.6H35v-2.5Zm12.6 4.5h2.5V18c0-.3.2-.6.5-1a4.1 4.1 0 0 1 1.8-1.4l1.1-.2h1V18a8.3 8.3 0 0 0-1-.1 2.9 2.9 0 0 0-2.3 1 4 4 0 0 0-.7 1.3c-.2.5-.3 1-.3 1.7v5.6h-2.6V15.6Zm18.9 11.8h-2.6v-1.6c-.3.6-.8 1-1.4 1.4-.7.4-1.3.6-2 .6-1.5 0-2.6-.4-3.3-1.2-.7-.8-1-2-1-3.5v-7.5h2.5V23c0 1 .2 1.7.6 2.2.4.4 1 .6 1.7.6.5 0 1 0 1.4-.2l.8-.7c.3-.3.4-.6.5-1l.2-1.3v-6.9h2.6v11.8Zm4.4-3.7c.1.7.4 1.2.9 1.5.5.3 1 .5 1.8.5h.8l.9-.3c.3 0 .5-.2.7-.4l.2-.8c0-.4-.1-.7-.4-.9l-.8-.5-1.3-.3-1.3-.3-1.4-.4-1.3-.6-.8-1a3 3 0 0 1-.3-1.5c0-.7.1-1.2.4-1.6.4-.5.8-.8 1.2-1 .5-.3 1-.5 1.6-.6l1.7-.2c.6 0 1.2 0 1.8.2l1.5.6a3.7 3.7 0 0 1 1.6 2.8h-2.7c-.1-.6-.4-1-.8-1.2-.5-.2-1-.3-1.6-.3a4.8 4.8 0 0 0-1.3.2c-.3 0-.4.2-.6.4l-.2.6c0 .3 0 .6.3.8l.9.5 1.2.3 1.4.3c.5 0 1 .2 1.4.4.5.1.9.3 1.2.6.4.3.7.6.9 1 .2.4.3.9.3 1.4 0 .7-.2 1.3-.5 1.8s-.7 1-1.2 1.2l-1.7.7a8.5 8.5 0 0 1-4 0 5 5 0 0 1-1.6-.8 3.8 3.8 0 0 1-1.5-3.1h2.6Zm8.6-8h2V12H84v3.5h2.3v2h-2.3v7c0 .2 0 .4.2.5l.3.3.7.1h1.1v2h-.8a6.7 6.7 0 0 1-2.5-.1 2 2 0 0 1-1.5-1.5 7 7 0 0 1-.1-1.3v-7h-2v-2Zm8.8 0h2.4v1.5c.4-.7 1-1.1 1.6-1.4a5 5 0 0 1 2.1-.5c1 0 1.8.2 2.4.5.7.3 1.3.8 1.8 1.4.4.5.8 1.2 1 2a8.4 8.4 0 0 1-.9 6.7 4.6 4.6 0 0 1-3.9 1.9 6.4 6.4 0 0 1-2.2-.5A4 4 0 0 1 91 26v5.9h-2.6V15.6Zm9 5.8c0-.5 0-1-.2-1.5-.1-.5-.3-1-.6-1.3l-1-1c-.4-.2-.9-.3-1.4-.3-1.1 0-2 .3-2.5 1.1a5 5 0 0 0-.8 3c0 .6 0 1.2.2 1.7.1.5.3 1 .6 1.3l1 .9 1.5.3a3 3 0 0 0 2.5-1.3c.3-.4.5-.8.6-1.3l.1-1.6Zm4.6-10.4h2.6v2.5H102v-2.5Zm0 4.5h2.6v11.8H102V15.6Zm5-4.5h2.6v16.3h-2.6V11.1Zm10.5 16.7c-1 0-1.8-.2-2.5-.5s-1.4-.8-1.9-1.3c-.5-.6-.9-1.2-1.1-2a7.6 7.6 0 0 1 0-5c.2-.7.6-1.4 1.1-2 .5-.5 1.2-1 1.9-1.2.7-.3 1.6-.5 2.5-.5 1 0 1.8.2 2.5.5.8.3 1.4.7 2 1.3.4.5.8 1.2 1 2 .3.7.5 1.5.5 2.4 0 1-.2 1.8-.4 2.5a5.3 5.3 0 0 1-3 3.3c-.8.3-1.6.5-2.6.5Zm0-2.1a3 3 0 0 0 2.6-1.3c.3-.4.4-.9.6-1.4a6 6 0 0 0 0-3 4 4 0 0 0-.6-1.3l-1-1a3 3 0 0 0-1.6-.3 3 3 0 0 0-2.5 1.3c-.3.4-.5.8-.6 1.3a6.1 6.1 0 0 0 0 3c0 .5.3 1 .6 1.4.2.4.6.7 1 1 .4.2 1 .3 1.5.3Zm6.7-10h2V12h2.6v3.5h2.4v2h-2.4v7l.2.5.4.3.7.1h1.1v2h-.9a6.7 6.7 0 0 1-2.5-.1c-.4-.1-.7-.3-1-.6a2 2 0 0 1-.4-1 7 7 0 0 1-.2-1.2v-7h-2v-2Z"
        ></path><path
            fill="#00B67A"
            d="M32 11.1H20L16.4-.2 12.7 11H.7l9.7 7-3.7 11.4 9.7-7 9.6 7L22.3 18l9.7-7Z"
        ></path><path fill="#005128" d="m23.1 20.7-.8-2.6-6 4.4 6.8-1.8Z"
        ></path></g
    ><defs
        ><clipPath id="clip0_5572_33350"
            ><path fill="#fff" d="M.4.2h130v33H.4z"></path></clipPath
        ></defs
    ></svg
><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 47 44"
    role="img"
    aria-labelledby="titleId"
    class="ClientsSection-module--rockstar--d3381"
    ><title id="titleId">Rockstar Games</title><g
        clip-path="url(#clip0_5572_33376)"
        ><rect width="46.6" height="42.9" x="0.2" y="0.3" fill="#FCAF16" rx="8"
        ></rect><path
            fill="#000"
            d="M38.7.3H8.5a8.2 8.2 0 0 0-8.3 8V35a8 8 0 0 0 8.2 8h30.3a8 8 0 0 0 8.1-8V8.3a8 8 0 0 0-8-8ZM46 35c0 4-3.2 7.1-7.3 7.1H8.4a7 7 0 0 1-7.3-7v-27c0-4 3.2-7 7.4-7h30.2a7 7 0 0 1 7.2 7v27Z"
        ></path><path
            fill="#000"
            d="M40.3 25.8h-5.9l-1-5.9-3.3 5.8h-.7a5 5 0 0 1-.5-2.2v-3.3c0-1.6-.5-2.5-1.8-2.8 2.8-.5 4-2.3 4-5 0-3.6-2.4-4.4-5.6-4.4h-8.7l-3.6 17.3h4.6L19 19h3c1.7 0 2.4.8 2.4 2.4l-.1 3c0 .3 0 1 .3 1.3l3.3 3.6-2.9 6.1 6.1-3.6 4.6 3.5-.8-5.8 5.3-3.7Zm-16.7-10h-3.7l.9-4.2h3.4c1.2 0 2.5.3 2.5 1.8 0 1.9-1.5 2.4-3.1 2.4Zm7.7 15-4.2 2.5 2-4.2-2.5-2.5h4l2.4-4.2.7 4.2h3.9L34 29.1l.6 4.3-3.4-2.7Z"
        ></path></g
    ><defs
        ><clipPath id="clip0_5572_33376"
            ><rect width="46.6" height="42.9" x="0.2" y="0.3" fill="#fff" rx="8"
            ></rect></clipPath
        ></defs
    ></svg
><svg
    width="161"
    height="33"
    viewBox="0 0 161 33"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    role="img"
    aria-labelledby="titleId"
    class="ClientsSection-module--binance--1a216"
    ><title id="titleId">Binance</title><g clip-path="url(#clip0_10916_143745)"
        ><path
            d="M7.79705 16.5391L4.21076 20.1267L0.589844 16.5391L4.20942 12.9195L7.79705 16.5391ZM16.5645 7.77166L22.7413 13.9485L26.3622 10.3303L16.5645 0.564453L6.76669 10.3622L10.3876 13.9805L16.5645 7.77166ZM28.9195 12.9195L25.3319 16.5391L28.9514 20.1586L32.5697 16.5391L28.9195 12.9195ZM16.5645 25.3065L10.3876 19.0977L6.76669 22.7172L16.5645 32.5137L26.3622 22.7159L22.7413 19.0977L16.5645 25.3065ZM16.5645 20.128L20.184 16.5071L16.5645 12.9208L12.9449 16.5391L16.5645 20.1267V20.128ZM54.6293 20.5008V20.4395C54.6293 18.0992 53.3806 16.9131 51.3532 16.133C52.6005 15.4475 53.6615 14.3226 53.6615 12.3577V12.2965C53.6615 9.55017 51.4463 7.77166 47.8893 7.77166H39.7463V25.2758H48.077C52.0387 25.3065 54.6293 23.6837 54.6293 20.5021V20.5008ZM49.8236 13.014C49.8236 14.3239 48.7626 14.8537 47.0467 14.8537H43.491V11.141H47.2969C48.9197 11.141 49.8236 11.7959 49.8236 12.9514V13.014ZM50.7914 20.0029C50.7914 21.3128 49.7624 21.9065 48.0757 21.9065H43.491V18.0673H47.9519C49.9181 18.0673 50.7914 18.7862 50.7914 19.9709V20.0029ZM62.7098 25.3065V7.77166H58.8413V25.2758H62.7098V25.3065ZM83.4275 25.3065V7.77166H79.6202V18.5678L71.4146 7.77166H67.8576V25.2758H71.6649V14.1682L80.1514 25.3065H83.4262H83.4275ZM104.767 25.3065L97.2495 7.67848H93.6939L86.1738 25.3065H90.1368L91.7277 21.3754H99.1226L100.713 25.3065H104.77H104.767ZM97.7474 17.9741H93.0988L95.4391 12.2965L97.7474 17.9741ZM123.146 25.3065V7.77166H119.338V18.5678L111.133 7.77166H107.576V25.2758H111.383V14.1682L119.87 25.3065H123.144H123.146ZM143.019 22.467L140.555 20.0029C139.182 21.2502 137.965 22.061 135.937 22.061C132.942 22.061 130.852 19.5649 130.852 16.5697V16.4765C130.852 13.4813 132.973 11.0172 135.937 11.0172C137.684 11.0172 139.058 11.7653 140.43 12.982L142.894 10.1426C141.273 8.55176 139.307 7.42821 136 7.42821C130.634 7.42821 126.858 11.515 126.858 16.4765V16.5391C126.858 21.5617 130.695 25.5554 135.844 25.5554C139.214 25.5873 141.21 24.4012 143.019 22.467ZM159.463 25.3065V21.8746H149.946V18.1924H158.214V14.7606H149.946V11.2035H159.338V7.77166H146.14V25.2758H159.463V25.3065Z"
            fill="#F0B90B"></path></g
    ><defs
        ><clipPath id="clip0_10916_143745"
            ><rect
                width="159.746"
                height="31.9492"
                fill="white"
                transform="translate(0.589844 0.564453)"></rect></clipPath
        ></defs
    ></svg
><svg
    width="124"
    height="34"
    viewBox="0 0 124 34"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    role="img"
    aria-labelledby="titleId"
    class="ClientsSection-module--tiktok--8bc28"
    ><title id="titleId">TikTok</title><path
        d="M10.03 11.4585V10.3285C9.63768 10.2663 9.24147 10.2323 8.84434 10.2266C4.99978 10.2185 1.59596 12.7098 0.441455 16.3771C-0.713009 20.0443 0.649716 24.0362 3.80565 26.232C1.44161 23.702 0.785173 20.0189 2.12959 16.8279C3.474 13.6369 6.56819 11.534 10.03 11.4585Z"
        fill="#25F4EE"></path><path
        d="M10.2438 24.2602C12.3934 24.2574 14.1603 22.5639 14.2544 20.4163V1.25244H17.7556C17.6841 0.852012 17.65 0.445806 17.6537 0.0390625L12.8651 0.0390625V19.1844C12.7854 21.3429 11.0144 23.0526 8.85444 23.0561C8.20898 23.0506 7.57406 22.8919 7.00195 22.593C7.37272 23.1067 7.85965 23.5255 8.42303 23.8152C8.98641 24.105 9.61026 24.2574 10.2438 24.2602ZM24.2949 7.75466V6.68946C23.0064 6.6899 21.7464 6.30966 20.6733 5.59649C21.614 6.69012 22.8853 7.4477 24.2949 7.75466Z"
        fill="#25F4EE"></path><path
        d="M20.6715 5.59747C19.6143 4.39366 19.0316 2.84621 19.032 1.24414H17.7538C17.9189 2.12991 18.2627 2.97275 18.7644 3.72122C19.266 4.46969 19.9149 5.10809 20.6715 5.59747ZM8.84339 15.0173C6.99873 15.0268 5.39725 16.2905 4.95916 18.0824C4.52103 19.8743 5.35871 21.7344 6.9909 22.594C6.10652 21.373 5.98157 19.7591 6.66749 18.4166C7.35347 17.074 8.73436 16.2296 10.242 16.2307C10.644 16.2357 11.0432 16.2981 11.4276 16.416V11.5439C11.0351 11.4851 10.6389 11.4541 10.242 11.4513H10.029V15.1562C9.64259 15.0526 9.24324 15.0059 8.84339 15.0173Z"
        fill="#FE2C55"></path><path
        d="M24.2892 7.75586V11.4608C21.9039 11.4562 19.5805 10.7011 17.6481 9.30266V19.0375C17.6379 23.895 13.6971 27.8275 8.83955 27.8275C7.03556 27.8307 5.27502 27.274 3.80078 26.2343C6.26108 28.8804 10.09 29.7514 13.4529 28.4301C16.8157 27.1086 19.0274 23.864 19.0281 20.2508V10.5438C20.967 11.9332 23.2933 12.6784 25.6786 12.6742V7.90404C25.2116 7.90256 24.746 7.85291 24.2892 7.75586Z"
        fill="#FE2C55"></path><path
        d="M17.6531 19.0372V9.30244C19.5914 10.6929 21.9181 11.4382 24.3035 11.4328V7.72783C22.8942 7.43023 21.6199 6.68254 20.6727 5.59747C19.9161 5.10809 19.2672 4.46969 18.7656 3.72122C18.264 2.97275 17.9201 2.12991 17.755 1.24414H14.2538V20.4173C14.1838 22.1279 13.0381 23.6064 11.3992 24.1012C9.76023 24.596 7.98772 23.9985 6.98282 22.6125C5.35067 21.753 4.51298 19.8928 4.95108 18.101C5.38921 16.3091 6.99065 15.0453 8.83531 15.0359C9.2374 15.0395 9.63684 15.1018 10.0209 15.2211V11.5162C6.53969 11.5751 3.42211 13.6854 2.07393 16.8954C0.725703 20.1055 1.4015 23.809 3.79658 26.336C5.28535 27.3414 7.04844 27.8623 8.84459 27.8272C13.7022 27.8272 17.6429 23.8948 17.6531 19.0372Z"
        fill="black"></path><path
        d="M40.8635 27.8412H35.8009V11.3853H30.748L30.7383 6.87449H46.3423L44.9097 11.3853H40.8635V27.8412ZM82.0323 27.8412H76.9793V11.3853H71.9071L71.8974 6.87449H87.8596L86.427 11.3853H82.0323V27.8412ZM47.291 13.544H52.2955V27.8412H47.3297L47.291 13.544ZM60.7558 20.8814L59.2747 22.314V27.8412H54.2799V6.81641H59.2747V16.5835L64.2309 11.7435H70.1937L63.9308 17.8225L70.9487 27.8412H65.4409L60.7558 20.8814ZM113.705 20.8814L112.272 22.314V27.8412H107.268L107.219 6.81641H112.272V16.5835L117.219 11.7435H123.182L116.919 17.8225L123.888 27.8412H118.38L113.705 20.8814Z"
        fill="black"></path><path
        d="M49.798 11.9086C51.188 11.9086 52.3148 10.7818 52.3148 9.39178C52.3148 8.0018 51.188 6.875 49.798 6.875C48.4081 6.875 47.2812 8.0018 47.2812 9.39178C47.2812 10.7818 48.4081 11.9086 49.798 11.9086Z"
        fill="black"></path><path
        d="M87.2216 19.28C87.2232 14.8142 90.6586 11.1005 95.1108 10.752H94.3654C89.8407 11.0159 86.3066 14.7621 86.3066 19.2945C86.3066 23.8269 89.8407 27.5731 94.3654 27.837H95.1108C90.6475 27.4876 87.208 23.7569 87.2216 19.28Z"
        fill="#25F4EE"></path><path
        d="M97.0578 10.728H96.3027C100.74 11.0945 104.155 14.8032 104.155 19.256C104.155 23.7089 100.74 27.4175 96.3027 27.784H97.0578C101.784 27.784 105.615 23.9529 105.615 19.227C105.615 14.501 101.784 10.6699 97.0578 10.6699V10.728Z"
        fill="#FE2C55"></path><path
        d="M95.6996 23.446C93.4008 23.446 91.5373 21.5824 91.5373 19.2836C91.5373 16.9848 93.4008 15.1213 95.6996 15.1213C97.9985 15.1213 99.862 16.9848 99.862 19.2836C99.8567 21.5802 97.9962 23.4407 95.6996 23.446ZM95.6996 10.7266C90.9737 10.7266 87.1426 14.5577 87.1426 19.2836C87.1426 24.0096 90.9737 27.8407 95.6996 27.8407C100.426 27.8407 104.257 24.0096 104.257 19.2836C104.257 17.0142 103.355 14.8376 101.75 13.2329C100.146 11.6281 97.9691 10.7266 95.6996 10.7266Z"
        fill="black"></path></svg
>

<style>
    svg {
        height: 2.5rem;
    }
    @media (max-width: 1026px) {
        svg {
            display: block;
            margin: 0 auto;
            width: 50%!important;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
</style>
