.brand-bg{
    background-image: url('/images/brandbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 130px;
    z-index: -1;
    position: absolute;
    display: block;
    top: 0;
}
.card {
    padding: 4rem;
    border: 1px solid var(--secondary);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.card-icon {
    border: 1px solid var(--secondary);
    border-radius: var(--radius);
    padding: 3rem;
    display: flex;
    gap: 1rem;
    box-shadow: var(--shadow);

    svg {
        flex-shrink: 0;
    }

    h3 {
        font-size: 2rem;
        font-weight: 500;
    }

    p {
        font-size: 1.8rem;
    }
}

.text-accent {
    color: var(--primary);
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-auto-rows: minmax(100px, auto);
}

.grid-item {
    border: 1px dotted var(--secondary);
}
input{
    padding: 1rem;
    border-radius: var(--radius);
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--secondary);
    &:focus{
        outline: white;
        border-color: var(--primary);
    }
}
@media (max-width: 1026px) {
    .grid {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        grid-auto-rows: minmax(0px, auto);
    }
}