<div class="grid-item py-4">
    <img src="/public/images/product.png" alt="product" />
</div>

<style lang="scss">
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            text-align: center;
        }
    }
</style>
