---
import Button from "../ui/button.astro";
import Badge from "../ui/badge.astro";
import Title from "../ui/title.astro";
import MagnifyIcon from "../../assets/icons/magnify.astro";
import RadarIcon from "../../assets/icons/radar.astro";
import PercentageIcon from "../../assets/icons/percentage.astro";
---

<section id="why">
    <article class="card">
        <Badge> why spotter?_ </Badge>
        <Title as="h2" class="my-2"
            >the internet's most <span class="text-accent">accurate</span> visitor
            identifier</Title
        >
        <p class="mb-3">
            <strong>industry-leading accuracy</strong> that lasts for months<br
            /> or years, even when cookies are cleared.
        </p>
        <Button variant="outline">learn more</Button>
    </article>
    <aside>
        <section class="card-icon">
            <MagnifyIcon />
            <div>
                <h3>any browser, any device</h3>
                <p>
                    identify returning web and mobile app visitors, on all
                    browsers, iOS and Android, with exceptional accuracy.
                </p>
            </div>
        </section>
        <section class="card-icon">
            <RadarIcon />
            <div>
                <h3>identify all anonymous visitors.</h3>
                <p>
                    get details on suspicious visitors even when VPN, incognito
                    mode, or a tampered browser or device is used.
                </p>
            </div>
        </section>
        <section class="card-icon">
            <PercentageIcon />
            <div>
                <h3>delight your trusted users.</h3>
                <p>
                    personalize user experience and reduce 2FA and OTP
                    requirements by identifying logged-out users.
                </p>
            </div>
        </section>
    </aside>
</section>
<style lang="scss">
    #why {
        display: grid;
        border: 1px dotted var(--secondary);
        grid-template-columns: 7fr 5fr;
        gap: 2rem;
        padding: 1rem;
        aside {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    @media (max-width: 1026px) {
        #why {
            grid-template-columns: 1fr;
        }
    }
</style>
