---
interface Props {
    class?: string;
}
const { class: className } = Astro.props;
---
<span class={className}><slot /></span>

<style lang="scss">
    span {
        color: var(--foreground-primary);
        font-weight: 500;
        font-size: 1.4rem;
        border: 1px solid var(--secondary);
        border-radius: var(--radius);
        padding: 4px 8px;
    }
</style>
